<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1524985069026-dd778a71c7b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1471&q=80" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h2>Save any kinds of movies</h2>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h2>From Sci-Fi to Classics</h2>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1524712245354-2c4e5e7121c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h2>Add comments and reviews</h2>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">MY LISTS</h3>
    <%= link_to 'CREATE A MOVIE LIST', new_list_path, class:'btn-flat' %>
  </div>
</div>

<div class="container">
  <div class="cards-grid">
    <% @lists.each do |list| %>
      <div class="movie-card">
        <% if list.photo.attached? %>
          <div class='movie-card-image'
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url('<%= cl_image_path list.photo.key, width: 400, height: 300, crop: :fill %>')">
          </div>
        <% else %>
          <div class='movie-card-image'
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url('<%= asset_path ('card_bg.jpg') %>')" >
          </div>
        <% end %>
        <div>
          <%= link_to list.name, list_path(list), class:'movie-card-link'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
