<div class="main-banner" id="main-banner">
  <div class="image-banner" id="image-banner3">
    <div class="image-banner-box">
      <h2>Add comments and reviews</h2>
    </div>
  </div>

  <div class="image-banner" id="image-banner2">
    <div class="image-banner-box">
    </div>
  </div>

  <div class="image-banner" id="image-banner1">
    <div class="image-banner-box">
      <h2>Save any kinds of movies</h2>
    </div>
  </div>
</div>
